.title-name{
    width: 99%;
    text-align: center;
    background-color: #000;
        margin: 2px;
        font-family: Garamond;
        font-size: 5em;
        text-transform: uppercase;
        color: #fff;
        text-shadow:
         0 0 10px #fff,
         0 0 20px #fff, 
         0 0 30px #fff,
         0 0 40px #ff00de, 
         0 0 70px #ff00de,
         0 0 80px #ff00de,
         0 0 100px #ff00de,
         0 0 150px #ff00de;
}

.input-for-task{
    width: 95%;
    height: 40px;
    font-size: 26px;
    padding-left: 10px;
    margin: 20px;
}

.div-for-task{
    margin: 30px;
}

.div-for-task:hover{
    background: gray;
}

.input-task{
    width: 250px;
    height: 40px;
}


.div-for-button{
    margin-top: -40px;
    margin-left: 310px;
}

.css-put-task{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.line-rotate{
    transform: rotate(90deg);
    margin-top: -10px;
}

.div-for-task{
    position: relative;
    margin-top: 25px;
}

.theme-task{
    width: 200px;
    height: 40px;
    margin-top: -20px;
    margin-left: 40px;
}

.span-close{
    float: left;
    margin-left: 315px;
    margin-top: -60px;
}

.toDoListFooter{
    display: flex;
    background-color: grey;
    float: right;
}


